* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: rgb(250, 250, 250);
  color: rgb(29, 29, 29);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.logo {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.logo-img {
  width: 45%;
}

.text {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
